name: Code Quality - TypeScript

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  formatting:
    name: Formatting
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1
    - name: Check project formatting
      uses: Denocord/deno-action@master
      with:
        args: '["fmt", "--check"]'

  lint:
    name: Linting
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Project
      uses: actions/checkout@v1
    - name: Check project formatting
      uses: Denocord/deno-action@master
      with:
        args: '["lint", "--unstable"]'
