name: Meta - Upstream Repo Sync

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
  push:
    branches:
      - upstream-work

jobs:
  repo_sync:
    name: Repo Sync
    runs-on: ubuntu-latest
    steps:
    - name: Sync the repositories using Kamion
      run: curl -fsSL https://raw.githubusercontent.com/Denocord/kamion/master/src/init.sh | bash
      env:
        CURRENT_REPO: https://a:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
        UPSTREAM_REPO: https://github.com/discordjs/discord-api-types.git
        UPDATE_BRANCH: main
        OUTPUT_BRANCH: upstream-work
        UPDATE_METHOD: rebase